bin
.cache
*.aterm
*.c
*.h
*.o
Makefile
include/MetaC.def
include/MetaC-parenthesize.str
include/MetaC-Permissive.def
include/MetaC.generated.pp.af
include/MetaC.packed.esv
include/MetaC.pp.af
include/MetaC.rtg
include/MetaC.str
include/MetaC.tbl
include/metac.rtree
include/metac.ctree
include/metac.ctree.dep
include/metac.jar
include/metac-java.jar
editor/java/trans
editor/java/metac
editor/*.generated.esv
editor/*.generated.str
syntax/MetaC*.generated.esv
syntax/MetaC.generated.pp
syntax/*.sdf
.settings/org.eclipse.jdt.core.prefs
utils
lib/runtime
lib/*.generated.str
lib/analysis
lib/editor
lib/index
lib/nabl
lib/properties
lib/relations
lib/task
lib/tmpl
lib/types
lib/modelware
lib-refactoring/*.generated.str
trans/*.pp.generated.str
BaseC/trans/naming/*.str
BaseC/syntax/*.sdf
BaseC/trans/typing/*.generated.str
Statemachine/syntax/*.sdf
Statemachine/trans/naming/*.str
Statemachine/trans/typing/*.generated.str

