bin
.cache
include/MetaC.def
include/MetaC-parenthesize.str
include/MetaC-Permissive.def
include/MetaC.generated.pp.af
include/MetaC.packed.esv
include/MetaC.pp.af
include/MetaC.rtg
include/MetaC.str
include/MetaC.tbl
include/metac.rtree
include/metac.ctree
include/metac.ctree.dep
include/metac.jar
editor/java/trans
editor/MetaC-*.generated.esv
syntax/MetaC*.generated.esv
.settings/org.eclipse.jdt.core.prefs
utils
lib/*.generated.str
lib-refactoring/*.generated.str
