templates

Component = <<Exported?> component <Identifier> extends <Identifier>{
	<ComponentContent*;separator="\n">
}>

ComponentContent = <<ComponentProvides>>

ComponentProvides = <provides <Identifier> <Identifier>>

ComponentContent = <<Init?> <Declaration>>

Init = <init>

ComponentContent = <<ComponentFunction>>

ComponentFunction = <<Internal?> <Type> <Identifier> (<FunctionParameter*;separator=",">) \<- <FunctionTrigger>
{<Stm*>} 
> 

Internal = <internal>
FunctionTrigger = <op <Identifier>.<Identifier>>

Interface = <<Exported?> cs interface <Identifier>{
	<InterfaceContent*;separator=";">;
}>

InterfaceContent = <<FunctionProyotypeForInterface>>
FunctionProyotypeForInterface = <
	<Query?> <Type> <Identifier>(<FunctionParameter*;separator=",">)
	<PreOrPostCondition*;separator="\n">
>
Query = <query>
PreOrPostCondition = <<Precondition>>
PreOrPostCondition = <<Postcondition>>
Precondition = <pre <Exp>>
Postcondition = <post <Exp>>