
templates
	StructItem =<<Type> <Identifier*;separator=",">;>
	StructOrUnion.Struct =	<<Exported?>struct <Identifier> {<StructItem*>} >
	StructOrUnion.Union =	<<Exported?>union <Identifier> {<StructItem*>} >
