 
//TODO: more than just accepting digits
// @see C-Constants

lexical syntax
	CONS = [0-9]+
	CONSBIN = [0-1]+
	CONSOCT = [0-7]+
	CONSHEX = [0-9a-fA-F]+ 
	
lexical restrictions
	CONS -/- [0-9]
	
templates
	Constant = <<CONS>>
	Constant.Binary = < bin \< <CONSBIN> \> >
	Constant.Octal = < oct \< <CONSOCT> \> >
	Constant.Hexadecimal = < hex \< <CONSHEX> \> >
	