
templates


Module.Module = <
module <Identifier> <ModuleImports?> {
	<ModuleContent*; separator="\n">
}
>

ModuleImports = <imports <Identifier*; separator=",">>

ModuleContent = <<Declaration>>
ModuleContent = <<MessageList>>

MessageList = <
messagelist <Identifier> {
	<Message*>
}
>
Message = <INFO <Identifier>() <MessageActive>: <Constant>>
Message = <WARNING <Identifier>() <MessageActive>: <Constant>>
Message = <ERROR <Identifier>() <MessageActive>: <Constant>>

MessageActive = <active>
MessageActive = <inactive>