
templates

	EnumItem.EnumItem = <<Identifier> = <Constant>> 
	EnumItem.EnumItem = <<Identifier>>
	
	Enum.Enum = <<Exported?> enum <Identifier?> { <EnumItem*; separator=","> }>
	//Enum = <<Exported?> enum <Identifier?> { <EnumItem*; separator=",">, }>

    