

lexical syntax
	//TODO: remove C keywords, add BaseC keywords
	Keyword =     "auto"     
	Keyword =     "double"   
	Keyword =     "int"      
	Keyword =     "struct"   
	Keyword =     "break"    
	Keyword =     "else"     
	Keyword =     "long"     
	Keyword =     "switch"   
	Keyword =     "case"     
	Keyword =     "enum"     
	Keyword =     "register" 
	Keyword =     "typedef"  
	Keyword =     "char"     
	Keyword =     "extern"   
	Keyword =     "return"   
	Keyword =     "exit"     
	Keyword =     "union"    
	Keyword =     "const"    
	Keyword =     "float"    
	Keyword =     "short"    
	Keyword =     "unsigned" 
	Keyword =     "continue" 
	Keyword =     "for"      
	Keyword =     "signed"   
	Keyword =     "void"     
	Keyword =     "default"  
	Keyword =     "goto"     
	Keyword =     "sizeof"   
	Keyword =     "volatile" 
	Keyword =     "do"       
	Keyword =     "if"       
	Keyword =     "static"   
	Keyword =     "while"    

lexical restrictions
	Keyword -/- [a-zA-Z0-9\_]