
templates

Decl = <<Identifier>>
Decl = <<Decl> [<Constant>]>
//Decl = <*<Decl>>

Initialization.NoInit = <<Decl>>
Initialization.Init = <<Decl> = <Exp>>
Initialization.Init = <<Decl> = <InitBlock>>
InitBlock.InitBlock = < { <Exp+; separator = ","> } >
InitializationList = <<Initialization+;separator=",">>

Declaration.Declaration = <<Type> <InitializationList>;>
Declaration.StructOrUnionInlineDecl = <<StructOrUnion> <Decl>;>
Declaration.TypedefDecl = < typedef <Type> <Decl>;>
