templates

FunctionParameter = <<Type> <Identifier>>
FunctionParameter = <<FunctionParameter> [<Constant>]>
FunctionParameter = <*<FunctionParameter>>

FunDef.FunDef = <<Exported?> <Type> <Identifier> (<FunctionParameter*;separator=",">)<Block>>

Exported = <exported>