

lexical syntax
	Keyword = BasicType
	
	//TODO: remove C keywords, add BaseC keywords
	Keyword =     "auto"         
	Keyword =     "struct"   
	Keyword =     "break"    
	Keyword =     "else"        
	Keyword =     "switch"   
	Keyword =     "case"     
	Keyword =     "enum"     
	Keyword =     "register" 
	Keyword =     "typedef"    
	Keyword =     "extern"   
	Keyword =     "return"   
	Keyword =     "exit"     
	Keyword =     "union"    
	Keyword =     "const"      
	Keyword =     "unsigned" 
	Keyword =     "continue" 
	Keyword =     "for"      
	Keyword =     "signed"   
	Keyword =     "void"     
	Keyword =     "default"  
	Keyword =     "goto"     
	Keyword =     "sizeof"   
	Keyword =     "volatile" 
	Keyword =     "do"       
	Keyword =     "if"       
	Keyword =     "static"   
	Keyword =     "while"    
	Keyword =     "double"  

lexical restrictions
	Keyword -/- [a-zA-Z0-9\_]

