
templates

	EnumItem = <<Identifier> = <Constant>> 
	EnumItem = <<Identifier>>
	
	Enum = <enum <Identifier?> { <EnumItem*; separator=","> }>
	Enum = <enum <Identifier?> { <EnumItem*; separator=",">, }>    