

context-free start-symbols
Start

templates
Start = <<ID>>


//FIXME: import BaseC-Identifiers instead of this piece of code here
lexical syntax
	ID = [a-zA-Z\_][0-9a-zA-Z\_]*
	
lexical restrictions
	ID -/- [a-zA-Z0-9\_]