
lexical syntax

Keywords = "statemachine"								//change Keyword sort name?


    
context-free syntax

  Statemachine -> Stm
  
  
  
  
  
  //TODO add sminit, smtrigger, smIsInState statements
  //TODO add send, trigger statement to statemachine statements?
  