context-free start-symbols

Statemachine

lexical syntax

ID = "statemachine" {reject}
StatemachineVarModifier = "readable" | "writable"

templates

  Statemachine.Statemachine = <
    statemachine <Identifier> initial = <Identifier> {
    	<StateMachineComponent*; separator = "\n">
    }
  >
 
  StateMachineComponent.StateMachineState = <
  	state <Identifier> {
  		<StateBody*>
  	}
  >
  
  StateMachineComponent.StateMachineInEvent = <
  	in <Identifier> ( <FunctionParameter*; separator=","> ) 
  >																										//TODO add binding?
  																																																				
  
  StateMachineComponent.StateMachineOutEvent = <
  	out <Identifier> ( <FunctionParameter*; separator=",">) <StateMachineEventBinding?>
  >
  																										

  StateMachineComponent.StateMachineVarDecl = <
  	<StatemachineVarModifier?> var <Type> <Identifier> = <Exp>	
  >																									
  
  StateMachineEventBinding.Binding = <
  	=\> <Identifier>
  >	
  	
  StateBody.StateEntry = <
  	entry <Block>														
  >																										
  
  StateBody.StateExit = <
  	exit <Block>
  >																										
  	
  StateBody.StateTransition = <
  	on <Identifier> [ <Exp?> ] -\> <Identifier> <Block?>
  >																										
 
  