
lexical syntax

Keywords = "statemachine"								//change Keyword sort name?

templates

StatemachineStm.StateMachineInit = <
	sminit(<Identifier>) ;
	>

StatemachineStm.StateMachineTrigger = <
	smtrigger(<Identifier>, <Exp>);
	>
 
StatemachineStm.StateMachineIsInState = <
	smIsInState(<Identifier>, <Identifier>);
	>

StatemachineStm.StateMachineSend = <
	send <Identifier>(<Exp*; separator=", ">) 
	>

    
context-free syntax

  Statemachine -> ModuleContent
  StatemachineStm -> Stm
  

  //TODO add send, trigger statement to statemachine statements?
  